* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}
.body{
  background-color: rgb(219, 157, 157);
}
/* HEADINGS */

.headline h1, #text {
  animation-name: moveInleft;
  animation-duration: 3s;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  
}

@keyframes moveInleft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }

  80% {
      transform: translateX(-10px);
  }
  
  100% {
      opacity: 1;
      transform: translate(0);
  }

}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('images/bg.png');
  border-bottom-left-radius:10rem;
  border-bottom-right-radius:10rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: transparent;
}


/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}
li {
  list-style: none;
}

.navbar ul {
  display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nav-item {
  margin-left: 5rem;
}
.nav-item a {
  font-family:monospace;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: rgb(190, 95, 28);
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  margin-top: 2%;
  background: #fff;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  animation-name: moveInRight;
  animation-duration: 3s;
 


}
.search #destination{
     width:35rem;
     height: 3rem;
     padding: 4px;
     flex-grow: 1;
     background-color: transparent;
     outline: none;
     border: none;
     padding: 2em;
   
 
}
.search .search-btn{
  width:6rem;
  height: 3rem;
  background-color:rgb(219, 109, 30);
  color: #ffffff;
  border:none;
  border-radius: 50px;
}
@keyframes rotate {
  0% {transform: rotate(20deg);}
}

.element {
  display: flex;
  background-color:transparent;
  padding: 2rem;
  top:50vh;
  color: #000;
  position: absolute;
  flex-direction: row;
     
}
.elements{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: #fff;
  width:10rem;
  height:10rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: rotate 2s 1;
    
    
}
.elements img{
  width:5rem;
  height: 5rem;
}
.elements p{
  color:#000;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  margin-top: 1rem;
}

.destinations{
 
  margin-top: 15%;
  width: 100%;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.destinations h1{
  color:rgb(184, 91, 25); 
  animation-name: moveInRight;
  animation-duration: 3s;
}
.destinations img{
  width:5rem;
  animation-name: moveInleft;
  animation-duration: 3s;
}
.dc{
  display:flex;
  justify-content: center;
  align-items: center;
width: 100%;
padding: 4rem;

flex-direction: row;
}
.destination-card{
  cursor: pointer;
position: relative;
width:20%;
height: 60vh;
margin-left: 5%;
box-shadow: 0px 5px 43px rgba( 0, 0, 0, 0.48 );
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.info{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top:35vh;
  bottom:0;
  right:0;
  left:0;
  padding: 10%;
  position: absolute;
  background: #fff;
}
.info h4{
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
}
.info #location{
  font-size: 0.7rem;
  font-family:'Courier New', Courier, monospace;
  color:rgb(219, 109, 30);
  font-weight: 600;
}
.info #price{
  font-weight: bold;
  margin-top: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:gray;
}

.partners{
  text-align: center;
}
.partners h1{
  color: rgb(184, 91, 25); 
  line-height: 3rem;
}
.partners p{
  color:gray;
}
.partners img{
  width: 80%;
}
/* MOBILE MENU & ANIMATION */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:#fff;
}



.footer-distributed{
	background-color:rgb(13, 13, 32);
	width: 100%;
	text-align: left;
  color:white;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
 
}
.footer-distributed p{
  font-size: 0.6rem;
  line-height: 3rem;
}
.footer-distributed h2{
  color:white;
}
.footer-distributed img{
  height: 30px;
  width:30px;
  
}
.footer-distributed i{
  margin-right: 2px;
}
/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
 
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background:#fff;
    width: 100%;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-item a {
  font-family:monospace;
  color: #000;
  font-size: 0.9rem;
  font-weight:bold;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 1rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  background: #000;
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  background: #000;
  transform: translateY(-8px) rotate(-45deg);
}


  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
  .search{
    margin-top: 4%;
    height: 2rem;
  }
  .search #destination{
   width:10rem;
   font-size: 0.6rem;
   

}
.search .search-btn{
 width:4rem;
 height: 2rem;
 font-size: 0.6rem;
}


.elements{
  width:5rem;
  height:5rem;

  margin:0.2rem;

}
.elements img{
  width:2rem;
  height:2rem;
}
.elements p {
  font-size: 0.5rem;
}

/*DESTINATION*/
.destinations{
  margin-top: 15%;
}
.destinations img{
  width:2rem;
  margin-bottom: 2%;
}
.dc{
  flex-direction: column;
}
.destination-card{
  width:80%;
  height:50vh;
  margin-bottom: 2rem;
}
.info{
  top:55%;
}
.partners img{
  width:80%;
}

}
